:root {
  --primary-color: #2E5B57;  
  --secondary-color: #fe8650; 

}

#root {
  width: 100%;  /* Ocupa todo el ancho */
  margin: 0;    /* Elimina el margen */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}


.card {
  min-height: 93%;
  text-align: center;
}

.read-the-docs {
  color: #888;
}




.logo-image {
  max-width: 100px; 
  height: auto;
}

.buttonBgPrimary{
  background: var(--primary-color)
}

.bgPrimary{
  background: var(--primary-color)
}

.bgSecondary{
  background: var(--secondary-color)
}

.colorSecondary{
  color: var(--secondary-color)
}

.buttonBgPrimary:hover{
  background: var(--secondary-color)
}

.jumbotron-background {
  background-image: url('./assets/SiboneyBanner.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
}

.jumbotron-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;

}

.jumbotron-background h1,
.jumbotron-background p {
  position: relative;
  z-index: 2;
}