:root {
  --primary-color: #2E5B57;  
  --secondary-color: #812924; 

}

#root {
  width: 100%;  /* Ocupa todo el ancho */
  margin: 0;    /* Elimina el margen */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}


.card {
  min-height: 93%;
  text-align: center;
}

.read-the-docs {
  color: #888;
}


btn-outline-success:hover{
  background-color: #fe8650;
}

.logo-image {
  max-width: 100px; 
  height: auto;
}

.buttonBgPrimary{
  background: var(--primary-color);
}

.buttonOutlinePrimary{
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

.buttonOutlinePrimary:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;

}

.bgPrimary{
  background: var(--primary-color);
}

.bgSecondary{
  background: var(--secondary-color);
}

.colorSecondary{
  color: var(--secondary-color);
}

.buttonBgPrimary:hover{
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.jumbotron-background {
  background-image: url('./assets/SiboneyBanner.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
}

.jumbotron-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;

}

.jumbotron-background h1,
.jumbotron-background p {
  position: relative;
  z-index: 2;
}



.rbc-month-row {
  min-height: 100px; /* Ajusta este valor según el tamaño que necesites */
}

.rbc-event {
  font-size: 12px; /* Tamaño de fuente de los eventos */
}

.rbc-month-header{
  background: var(--primary-color);
  color: white;
}

.rbc-toolbar button{
  background-color: var(--secondary-color);
  color: white;
}

.calendar-selector{
  background-color: white;
  border: 0px;
}

.urderline{
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 2px;
}

.rbc-toolbar .btn {
  background-color: #822a26;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.rbc-toolbar .btn:focus {
  outline: none;
  box-shadow: none;
}

.rbc-toolbar .calendar-selector {
  margin: 0 8px;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}

.rbc-toolbar-label {
  display: flex;
  align-items: center;
}



.react-calendar-timeline .rct-header-root{
  background: var(--primary-color);
}

.fc-license-message {
  display: none !important;
}


/* Big calendar*/
@media (max-width: 576px) {

  .rbc-toolbar .calendar-selector {
    font-size: 14px;
  }


  .rbc-toolbar {
    flex-direction: row;
  }

  .rbc-toolbar .btn {
    padding: 6px;
    width: 30px;
    height: 30px;
  }


  
}


/*Full Calendar*/

.fc .fc-button:not(:disabled) {
  cursor: pointer;
  background: var(--secondary-color);
}



.fc .fc-timeline-slot-cushion {
  color: var(--primary-color);
  text-decoration: none;
  
}

@media (max-width: 991px){

  .fc-timeline-event-harness{
    left: 0px !important;
  }

  .fc .fc-timeline-slot-cushion {
    color: white;
  }



}


@media (max-width: 767px){

  .rct-item{
    min-width: 120px !important;
    left: 490px !important;
    background-color: #fe8650;
  }

   /* Estilo para el título centralizado y con un tamaño adecuado */
   .fc .fc-toolbar-title {
    font-size: 1.0rem; /* Tamaño de fuente más pequeño y consistente */
    font-weight: bold;
    text-align: center;
    color: #333; /* Color de texto para mejor visibilidad */
  }

  /* Estilos para los botones de navegación (prev, next, today) */
  .fc-toolbar .fc-button {
    padding: 6px 12px; /* Ajusta el relleno interno para que los botones no se vean tan grandes */
    font-size: 0.875rem; /* Tamaño de texto más pequeño y consistente */
    border-radius: 4px; /* Bordes redondeados para consistencia */
    margin: 0 4px; /* Espaciado horizontal entre los botones */
    background-color: #4A5568; /* Color de fondo personalizado */
    color: #fff;
    border: none;
  }

  /* Cambia el color del botón en hover */
  .fc-toolbar .fc-button:hover {
    background-color: #2D3748; /* Color más oscuro en hover */
  }

  /* Botón activo (para day, week, month) */
  .fc-button-active {
    background-color: #2D3748 !important; /* Color de fondo para el botón activo */
    font-weight: bold;
  }

  /* Ajuste para la barra de herramientas para centrar los elementos */
  .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    align-items: center;
  }




}

@media (max-width: 493px){
  .rct-item{
    min-width: 120px !important;
    left: 390px !important;
    background-color: #fe8650;
  }


  /* Reducir tamaño de botones para que todos entren */
  .fc-toolbar .fc-button {
    padding: 4px 8px; /* Relleno más pequeño */
    font-size: 0.75rem; /* Texto más pequeño */
    margin: 0 2px; /* Menor espacio entre los botones */
  }

  .fc .fc-toolbar-title {
    font-size: 1.0em; /* Tamaño de fuente más pequeño y consistente */
  }

}

@media (max-width: 435px){
  .rct-item{
    min-width: 120px !important;
    left: 270px !important;
    background-color: #fe8650;
  }
}


