:root {
  --primary-color: #2E5B57;  
  --secondary-color: #812924; 

}

#root {
  width: 100%;  /* Ocupa todo el ancho */
  margin: 0;    /* Elimina el margen */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}


.card {
  min-height: 93%;
  text-align: center;
}

.read-the-docs {
  color: #888;
}


btn-outline-success:hover{
  background-color: #fe8650;
}

.logo-image {
  max-width: 100px; 
  height: auto;
}

.buttonBgPrimary{
  background: var(--primary-color);
}

.buttonOutlinePrimary{
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

.buttonOutlinePrimary:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;

}

.bgPrimary{
  background: var(--primary-color);
}

.bgSecondary{
  background: var(--secondary-color);
}

.colorSecondary{
  color: var(--secondary-color);
}

.buttonBgPrimary:hover{
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.jumbotron-background {
  background-image: url('./assets/SiboneyBanner.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
  opacity: 0.9;
}

.jumbotron-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;

}

.jumbotron-background h1,
.jumbotron-background p {
  position: relative;
  z-index: 2;
}



.rbc-month-row {
  min-height: 100px; /* Ajusta este valor según el tamaño que necesites */
}

.rbc-event {
  font-size: 12px; /* Tamaño de fuente de los eventos */
}

.rbc-month-header{
  background: var(--primary-color);
  color: white;
}

.rbc-toolbar button{
  background-color: var(--secondary-color);
  color: white;
}

.calendar-selector{
  background-color: white;
  border: 0px;
}

.urderline{
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 2px;
}

.rbc-toolbar .btn {
  background-color: #822a26;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.rbc-toolbar .btn:focus {
  outline: none;
  box-shadow: none;
}

.rbc-toolbar .calendar-selector {
  margin: 0 8px;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}

.rbc-toolbar-label {
  display: flex;
  align-items: center;
}



.react-calendar-timeline .rct-header-root{
  background: var(--primary-color);
}



@media (max-width: 576px) {

  .rbc-toolbar .calendar-selector {
    font-size: 14px;
  }


  .rbc-toolbar {
    flex-direction: row;
  }

  .rbc-toolbar .btn {
    padding: 6px;
    width: 30px;
    height: 30px;
  }


  
}

@media (max-width: 767px){
  .rct-item{
    min-width: 120px !important;
    left: 490px !important;
    background-color: #fe8650;
  }


}

@media (max-width: 493px){
  .rct-item{
    min-width: 120px !important;
    left: 390px !important;
    background-color: #fe8650;
  }
}

@media (max-width: 435px){
  .rct-item{
    min-width: 120px !important;
    left: 270px !important;
    background-color: #fe8650;
  }
}

